<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="at.jku.se.datadrop.editor.product">
         <property
               name="appName"
               value="at.jku.se.datadrop.editor.product">
         </property>
         <property
               name="windowImages"
               value="branding/k-16.png,branding/k-32.png,branding/k-64.png,branding/k-128.png">
         </property>
         <property
               name="aboutImage"
               value="branding/k-128.png">
         </property>
         <property
               name="aboutText"
               value="Editor created as part of the TransIT project. Documentation can be found here: https://github.com/jku-win-se/transit-datadrop-model">
         </property>
      </product>
   </extension>

</plugin>
